{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="Start">
    <img src=" " class="HeadPhoto" alt="Group Photo" style="margin:1em" width="500" height="250" />
    <p>Lorem ipsum dolor sit amet, iriure vidisse dolorem duo eu, est viderer iudicabit in.</p>
    <img src="" class="Banner" alt="Banner" width="500" height="100" />
</div>

<div class="Second">
    <img src="" class="BusinessLogo" alt="Business Logo" style="margin:1em" width="100" height="100" />
    <p style="font-size:20px">Participating Businesses</p>
    <ul>
        <li>Business 1</li>
        <li>Business 2</li>
        <li>Business 3</li>
        <li>Business 4</li>
    </ul>
    <p style="font-size:20px">Benefits</p>
    <ul>
        <li>Benefit 1</li>
        <li>Benefit 2</li>
        <li>Benefit 3</li>
        <li>Benefit 4</li>
    </ul>
    <img src="" class="Computer" alt="Picture of computer" width="150" height="150" />
    <p class="Right Align">Lorem ipsum dolor sit amet, iriure vidisse dolorem duo eu, est viderer iudicabit in. Eu mazim perfecto pri, no habeo tritani eam. 
        Laoreet nusquam duo no, tollit moderatius his an, epicurei ocurreret eam te. 
        Epicuri detraxit dissentiunt vix ex. 
        Pri nibh quidam te, mea et iriure hendrerit, mea ne odio rebum minimum.
    </p>
</div>

<div class="Third">
    <h1 class="Team">Do you have a TEAM</h1>
    <h3>Who is</h3>
    <img src="" class="DeVOTEdLogo" alt="DeVOTEd Logo" width="299" height="109"/>
    <h3>come join us!</h3>
    <img src="" class="Hand" alt="Hand with text" width="500" height="100"/><br /><br />
    <button onclick="window.location='http://google.com';">Sign Up</button>
</div>

<div class="Fourth">
    <h1>Charity Name</h1>
    <img src="" class="CharityImage" alt="Image of charity" style="margin:1em" width="100" height="100" />
    <p>
        Lorem ipsum dolor sit amet, iriure vidisse dolorem duo eu, est viderer iudicabit in. Eu mazim perfecto pri, no habeo tritani eam.
        Laoreet nusquam duo no, tollit moderatius his an, epicurei ocurreret eam te.
        Epicuri detraxit dissentiunt vix ex.
        Pri nibh quidam te, mea et iriure hendrerit, mea ne odio rebum minimum.
    </p>
    <strong>We Love What We Do!</strong>

</div>

{% endblock %}
