{% extends "layout.html" %}

{% block content %}
<style>
    .lead {
        text-align: center;
    }

    .bus1text {
        font-size: small;
        border-radius: 8px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 20px;
        padding-left: 10px;
        background-color: rgba(85, 76, 85, 0.20);
        border: 1px black;
        width: 55%;
        float: right;
        height: 300px;
    }

    .bus1img {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
        width: 40%;
        float: left;
        height: 300px;
    }
</style>
<div class="jumbotron">
    <img src="../static/images/business2.jpg" alt="Two boys talking" height="200" width="300">
    <img src="../static/images/hands.jpg" alt="hands" height="200" width="350">
    <img src="../static/images/business3.jpg" alt="two people volunteering" height="200" width="350">
    <p></p>
    <p></p>
    <p class="lead"><b>Businesses</b></p>



    <p>

        We're so glad you decided to take the next step with us!  Together we'll develop the strength and bonds that tie our work family together.
        We have a plethora of opportunities to offer and we're open to hear new and exciting ideas. We are looking forward to working with your team!
        
    </p>
    <p>
        Corporate Social Responsibility (CSR) has an important impact on your company presently and in the future. Consumers, business partners and 
        stakeholders are concerned with the impact your business has on the environment and today's society.        
    </p>


    <img src="../static/content/images/visionary.png" alt="visionary" height="50" width="150">
    <img src="../static/content/images/IMT.jpg" alt="imt" height="75" width="75">
    <img src="../static/content/images/principal.jpg" alt="dsm logo" height="50" width="50">
    <img src="../static/content/images/camb.jpg" alt="cambridge" height="60" width="150">
    <img src="../static/content/images/ihcc.jpg" alt="ihcc" height="75" width="75">
    <img src="../static/content/images/rob.jpg" alt="rob" height="30" width="120">
    <img src="../static/content/images/thinix.png" alt="thinix" height="75" width="120">
    <img src="../static/content/images/workiva.jpg" alt="workiva" height="75" width="125">
    <img src="../static/content/images/act.jpg" alt="act" height="75" width="100">

</div>


<center>Here are some of the companies we currently work with. Is your logo missing? <b>Let's change that.</b></center>
<br />
<br />

<div id="Bus1">
    <div class="bus1text">
        <h4>
            <b>
                Company sponsored volunteering absolutely good for your business!
            </b>
      
        </h4>
        <h5><b>Here is why:</b></h5>
        <ul>
            <li>CSR is specific to each company, and most corporations choose issues<br /> 
            that are valuable to them or their industry.</li>
            <li>Encourage team building.</li>
            <li>Establish public relations and media visibility.</li>
            <li>Attract quality job candidates.</li>
            <li>In today’s society, image is everything.</li>
            <li>Lower employee turnover and increase employee morale.</li>
            <li>By improving your company image, both consumers and stakeholders will be more<br /> 
            inclined to invest in your business.</li>
            <li> Even competitors will view your business as a leader because you offer both<br />
            time and resources to serve others.</li>
            
        </ul>
    </div>
    <div class="bus1img">
        <img src="../static/images/busimg.png." alt="Volunteeri">
    </div>
</div>
<p></p>
<p></p>
<h5><b>
        
</h5></b>
        <div class="row">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    You and your team are well on their way! After you sign up for the event. Go participate, have fun, earn coin and benefit from CSR all at the same time. 
                    How could this get any better?
                    
                </p>
             
            </div>
            <div class="col-md-4">
                <h2>Get some coin!</h2>
                <p>
                    Now, here's how it works, when you volunteer as a team, each team member earns 5 coins per hour.  All the coins stay in a master account. 
                    So when you make a purchase it will be easier to provide your team members with their awesome swag. 
                </p>
               
            </div>
            <div class="col-md-4">
                <h2>View our marketplace!</h2>
                <p>
                    If your team buys swag from our shop, snap a photo, we'd love to see! Come back often for updates in merchandise.
                </p>
              
            </div>
        </div>

        {% endblock %}
