{% extends "layout.html" %}

{% block content %}
    <body>
        <div class="container">
            <h4>Register Event</h4>
            <br>
            {% from "_formhelpers.html" import render_field %}
            <form method=post action="/createEvent">
                <dl>
                    {{render_field(form.eventName)}}
                    {{render_field(form.eventDescription)}}
                    {{render_field(form.eventDate)}}
                    {{render_field(form.eventLength)}}
                    {{render_field(form.eventCoins)}}
                </dl>
                <p><input type=submit value=Register></p>
            </form>

            {% if error %}
            <p class="error"><strong>Error:</strong>{{error}}</p>
            {% endif %}

        </div>
    </body>

{% endblock %}