{% extends "layout.html" %}

{% block content %}
<h2>Upcoming Events</h2>


<style>
    table {
        padding:30px;
    }

    tr {
        padding: 30px;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>



<table>
    <tr>
        <th>Event Name</th>
        <th>Event Description</th>
        <th>Date of event</th>
        <th>Number of Hours</th>
        <th>Coins for participation!</th>
    </tr>
    {% for event in events %}
    <tr>
        <td>{{event.event_name}}</td>
        <td>{{event.event_description}}</td>
        <td>{{event.event_date}}</td>
        <td>{{event.event_length}}</td>
        <td>{{event.event_calcpay}}</td>
        {% if(session['individual_id'])%}
        <td>
            <a href="/joinEvents/{{event.event_id}}">Join event!</a>
            {% endif %}
    </tr>
    {% endfor %}
</table>

    {% endblock %}
