{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <img src="../static/images/KidsAndFood2.jpg" alt="Kids with Food" height="200" width="350">
    <img src="../static/images/ManHelpingBoy.webp" alt="Man helping Boy" height="200" width="300">
    <img src="../static/images/Nature.jpg" alt="Nature Volunteering" height="200" width="350">
    <p></p>
    <p></p>
    <p class="lead">&nbsp&nbsp&nbsp&nbsp&nbsp Are you looking for an opportunity to pay it forward?</p>

    <p>
        Join DeVoted's mission and cause to increase local awareness
        about other's needs. The most genuine form of patriotism and loyalty we can show our nation is by taking care of home.
    </p>
    <p>
        DeVOTEd is a dedicated program to encourage the participation of improving our communities.
        The most effective way to make a positive change in our lives is by improving the lives of others and
        the enviroment that we all live in. There is so much individuals as well as businesses can do to donate
        their time and energy for a cause that hits home and complements our identities as human beings.
    </p>
    <br>
    <img src="../static/images/mealsoftheheartland.jpg" alt="Meals of the heartland logo" height="75" width="75">
    <img src="../static/images/arl.jpg" alt="arl logo" height="75" width="75">
    <img src="../static/images/dsm.jpg" alt="dsm logo" height="75" width="150">
    <img src="../static/images/mow.jpg" alt="Meals on wheels logo" height="75" width="100">
    <img src="../static/images/sc.jpg" alt="second chance logo" height="75" width="75">
    <img src="../static/images/senior.jpg" alt="senior citizen logo" height="75" width="75">
    <img src="../static/images/care.png" alt="iowa care logo" height="75" width="75">
    <img src="../static/images/hab.png" alt="habitat logo" height="75" width="75">
    <img src="../static/images/dnr.jpg" alt="DNR logo" height="75" width="75">
</div>

<p> Are you a business looking for a great way to improve your company's reputation and impact on the community? If so, you can start here! Bring your team in for meaningful experience.  
    We work with many local companies and communities in order to host events.</p>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            It's easy! All you have to do is sign up for future events. Create a username and password, and search for local projects.
            If you want to volunteer by yourself, perhaps enjoy the solitude of nature. Or volunteer on a team, where you can develop friendships,
            and cultivate connections.
        </p>
        <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get some coin!</h2>
        <p>
            Here at deVOTEd we like the idea of rewarding those will helpful hands. Whenever a volunteer participates in an event, they get to accrue
            coin, which is our currency that allows people to make purchases in the marketplace.
        </p>
        <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View our marketplace!</h2>
        <p>
            Our marketplace is a spot to buy sway! Once you accumulate coin you make purchases from our online store, ranging from tedding bears,
            to blankets, sweatshirts, etc.
        </p>
        <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
