{% extends "layout.html" %}

{% block content %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Individual</title>
    <style>
        h1 {
            text-align: center;
        }

        h2 {
            text-align: center;
        }

        h3 {
            text-align: center;
        }
        ul {
            text-align: center;
            list-style-position: inside;
        }
    </style>
</head>
<body>
    <h1>Individual</h1>
    <hr>
    <h2>Pave your Path! Show your Community that you are DeVOTEd!</h2>
    <h2>Success Story of Volunteers!</h2>
    <p>"I've voluntered in many areas. Winter Wonderlnad, Chocolate Lovers, Animal Shelters, Playing songs for the elderly, etc.
    Helping out with these event's made me feel like I was apart of something... that I contributed greatly to the community!
    I felt good about what I was doing and it made me so happy! Being able to help those in need and seeing their happy smiles made me smile and be happy as well.
    I'm so glas I was able to volunteer and help out to the best of my ability!" - Melanie .S. Alvaraso</p>
    
    <h2>Love Thy Neighbour</h2>
    <h2>What are the Benifits to Leading a Group?</h2>
    <ul>
        <li>Allowing a deeper and more trusting relationship with your fellow teammates</li>
        <li>Encourages employees, team members or family members to hang in through tough times</li>
        <li>More personal satisfaction with work and personal life</li>
        <li>Expanded skills and competencies</li>
        <li>And many more!</li>
    </ul>
    <h2>What are the Benifits of Individual/Small Groups?</h2>
    <ul>
        <li>You are in charge</li>
        <li>Little to no conflict</li>
        <li>Becoming independent</li>
        <li>More Clarity</li>
        <li>And many more!</li>
    </ul>
    <h2>Find Yourself</h2>
    <p>
     Finding yourslef can be hard whether you are young, old, female, male, latino, russian, etc.
        One of the many ways to find yourself is by volunteering! You don't need any priore experience and it's completely free!
        Volunteering is for everyone whether you are of differnet ethnicity, gender, age, etc. Join us in volunteering and helping out the community!
        Who knows you may be able to find yourslef in the process of it all!

    </p>
    <h2>Submit Your Ideas!</h2>
    <h2>Bring you Friends!</h2>
</body>
</html>
{% endblock %}
