{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <img src="../static/images/Wheelborrow.jpg" alt="Man with wheelborrow" height="200" width="350">
    <img src="../static/images/girlwithsand.jpg" alt="Girl cleaning sand" height="200" width="350">
    <img src="../static/images/GuyReadingToLittleGirl.jpg" alt="Guy reading" height="200" width="300">
    <p></p>
    <p></p>
    <style>
        h2 {
            text-align: center;
        }

        h3 {
            text-align: center;
        }
        ul {
            text-align: center;
            list-style-position: inside;
        }
    </style>
</head>
<body>
    <h1 class="lead">Individual</h1>
    <hr>
    <h2>Pave your Path! Show your Community that you are DeVOTEd!</h2>
    <img scr ="deVOTEd2.png"/>
    <h2>Success Story of Volunteers!</h2>
    <p>"As the only person in my family that can fluently speak both English and Spanish I've always had to translate documents for my parents and translate for my grandparents at the hospital.

    -- Melanie .S. Alvaraso</p>
    
    <h2>Love Thy Neighbour</h2>
    <h2>What are the Benifits to Leading a Group?</h2>
    <ul>
        <li>Allowing a deeper and more trusting relationship with your fellow teammates</li>
        <li>Encourages employees, team members or family members to hang in through tough times</li>
        <li>More personal satisfaction with work and personal life</li>
        <li>Expanded skills and competencies</li>
        <li>And many more!</li>
    </ul>
    <h2>What are the Benifits of Individual/Small Groups?</h2>
    <ul>
        <li>You are in charge</li>
        <li>Little to no conflict</li>
        <li>Becoming independent</li>
        <li>More Clarity</li>
        <li>And many more!</li>
    </ul>
    <h2>Find Yourself</h2>
    <p>
        Join DeVoted's mission and cause to increase local awareness
        about other's needs. The most genuine form of patriotism and loyalty we can show our nation is by taking care of home.
    </p>
    <p>
        DeVOTEd is a dedicated program to encourage the participation of improving our communities.
        The most effective way to make a positive change in our lives is by improving the lives of others and
        the enviroment that we all live in. There is so much individuals as well as businesses can do to donate
        their time and energy for a cause that hits home and complements our identities as human beings.
    </p>
</div>

<p>
    Are you a business looking for a great way to improve your company's reputation and impact on the community? If so, you can start here! Bring your team in for meaningful experience.
    We work with many local companies and communities in order to host events.
</p>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            It's easy! All you have to do is sign up for future events. Create a username and password, and search for local projects.
            If you want to volunteer by yourself, perhaps enjoy the solitude of nature. Or volunteer on a team, where you can develop friendships,
            and cultivate connections.
        </p>
        <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get some coin!</h2>
        <p>
            Here at deVOTEd we like the idea of rewarding those will helpful hands. Whenever a volunteer participates in an event, they get to accrue
            coin, which is our currency that allows people to make purchases in the marketplace.
        </p>
        <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View our marketplace!</h2>
        <p>
            Our marketplace is a spot to buy sway! Once you accumulate coin you make purchases from our online store, ranging from tedding bears,
            to blankets, sweatshirts, etc.
        </p>
        <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
