{% extends "layout.html" %}

{% block content %}


<div class="jumbotron">
    <img src="../static/images/Wheelborrow.jpg" alt="Man with wheelborrow" height="200" width="350">
    <img src="../static/images/girlwithsand.jpg" alt="Girl cleaning sand" height="200" width="350">
    <img src="../static/images/GuyReadingToLittleGirl.jpg" alt="Guy reading" height="200" width="300">
    <p></p>
    <p></p>
    <style>
        h2 {
            text-align: center;
        }

        h3 {
            text-align: center;
        }
        ul {
            text-align: center;
            list-style-position: inside;
        }
    </style>
</head>
    <body>


        <hr>
        <h2><b>Individuals</b></h2>
        <h3>Pave your Path! Show your Community that you are DeVOTEd!</h3>
        <img scr="deVOTEd2.png" />
        <br />
        <br />
        <center>Testimonials</center>

        <br />

        <p>
            As the only person in my family that can fluently speak both English and Spanish I've always had to translate documents for my parents and translate for my grandparents at the hospital.

            <br /><br />  - Melanie <br /><br />
        </p>
        <p>
            I had the opportunity to volunteer at a few different places, but my favorite was donating my time at Second Chance Animal Shelter. I really enjoyed it because the animals I interacted with
            and took care of were genuinely happy for my time and attention. I didn’t feel like I was “Working” at all. My Employer also allowed us to participate in that event so it was definitely a
            win win.

            <br /><br />-Heather<br /><br />
        </p>
        <p>
            The robotics club hosted a stem night where we got to share interests.
            And I got to present to the kids. I did a demo on 3-d printing.
            This was exciting because it's cutting edge technology.
            We got to teach them how 3-d printing works and show them our creations using our 3-d printer.
            Sometimes it wasn't even the kids who were most interested, it was the adults and parents who were really excited. Everybody learned something there.

            <br /><br /> -Colby<br /><br />
        </p>
        <p>
            I found a service learning project at IHCC. It involved volunteering at the local library.
            I love working with kids so I decided to get involved and when I arrived they had me help with math homework with kids who were ages 12 to 15.
            They really apprciated my help. Tthe good thing is that I still keep in contact with them and their parents . I got to develop really important relationships and I fond memories of it.

            <br /><br /> -Yulduz<br /><br />
        </p>

        <p> We're so glad you decided to take the next step with us. You may be a seasoned volunteer or new to the scene. Either way, we are happy you're here!</p>
        <br />
        <h2>Love Thy Neighbour</h2>
        <br />
        <h2>What are the Benefits of Individual/Small Groups?</h2>
        <center>You are in charge </center>
        <center>Little to no conflict</center>
        <center>Becoming independent</center>
        <center>More Clarity</center>



        <br />
        <h2>Find Yourself</h2>
        <p>
            Join DeVOTEd's mission and cause to increase local awareness
            about enviromental and other's needs. The most genuine form of patriotism and loyalty
            we can show our nation is by taking care of home and our neighbors.
        </p>

</div>





{% endblock %}
